# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.local

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Docker
*.log

# Spark temp
spark/work/